@keyframes ldio-runt50jlz9c {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-runt50jlz9c div {
  left: 55.28999999999999px;
  top: 26.22px;
  position: absolute;
  animation: ldio-runt50jlz9c linear 1s infinite;
  background: #1e56a0;
  width: 3.42px;
  height: 13.68px;
  border-radius: 1.71px / 6.84px;
  transform-origin: 1.71px 30.779999999999998px;
}
.ldio-runt50jlz9c div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9090909090909091s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(2) {
  transform: rotate(32.72727272727273deg);
  animation-delay: -0.8181818181818182s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(3) {
  transform: rotate(65.45454545454545deg);
  animation-delay: -0.7272727272727273s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(4) {
  transform: rotate(98.18181818181819deg);
  animation-delay: -0.6363636363636364s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(5) {
  transform: rotate(130.9090909090909deg);
  animation-delay: -0.5454545454545454s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(6) {
  transform: rotate(163.63636363636363deg);
  animation-delay: -0.45454545454545453s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(7) {
  transform: rotate(196.36363636363637deg);
  animation-delay: -0.36363636363636365s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(8) {
  transform: rotate(229.0909090909091deg);
  animation-delay: -0.2727272727272727s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(9) {
  transform: rotate(261.8181818181818deg);
  animation-delay: -0.18181818181818182s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(10) {
  transform: rotate(294.54545454545456deg);
  animation-delay: -0.09090909090909091s;
  background: #1e56a0;
}
.ldio-runt50jlz9c div:nth-child(11) {
  transform: rotate(327.27272727272725deg);
  animation-delay: 0s;
  background: #1e56a0;
}
.loadingio-spinner-spinner-s41q7c5w8 {
  width: 114px;
  height: 114px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-runt50jlz9c {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-runt50jlz9c div {
  box-sizing: content-box;
}
